extends layout
block content
	.ui.container(style="background: #030000;")
		.ui.text.container
			h1.ui.header.centered Polls
		.ui.text.container
			h2(style="margin-top: 20px; color: #fff") New poll 11-5-2017
			h3(style="color: #fff") Extended gameplay ideas
			iframe(src="https://www.strawpoll.me/embed_1/14328157",style="width:680px;height:570px;border:0;")
				span Loading poll...
			h2(style="margin-top: 20px; color: #fff") New poll 10-29-2017
			h3(style="color: #fff") Proposed site redesign
			p(style="color: #fff") A contributor has proposed a new site redesign - the biggest change is the removal of the "lizard" section that currently doesn't do much at all, and the list of games becoming forfront for the default view.  It also takes up vertical space much better, and there's some other nice changes like a clickable emote popup (like every other chat application..) and the list of games shows who is seated in them and their cardback!
			p(style="color: #fff") To get a bigger view of these images please click on them.
			a(href="/images/newui/lobby-min.png", target="_blank")
				img(src="/images/newui/lobby-min.png", style="width: 110%")
			a(href="/images/newui/widescreen-lobby-min.png", target="_blank")
				img(src="/images/newui/widescreen-lobby-min.png", style="width: 110%")
			a(href="/images/newui/completed-game-min.png", target="_blank")
				img(src="/images/newui/completed-game-min.png", style="width: 110%")
			iframe(src="https://www.strawpoll.me/embed_1/14263359",style="width:680px;height:360px;border:0;")
				span Loading poll...
		.ui.text.container
			h2(style="margin-top: 20px; color: #fff") New polls 9-10-2017
			iframe(src="https://www.strawpoll.me/embed_1/13902048",style="width:680px;height:360px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13902070",style="width:680px;height:390px;border:0;")
				span Loading poll...
		.ui.text.container
			h2(style="margin-top: 20px; color: #fff") Older polls
			iframe(src="https://www.strawpoll.me/embed_1/13846036",style="width:680px;height:700px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13844837",style="width:680px;height:420px;border:0;")
				span Loading poll...
			iframe(src="https://www.strawpoll.me/embed_1/13845987",style="width:680px;height:400px;border:0;")
				span Loading poll...