.creategame {
	.ui.header > div {
		font-size: 30px;
	}
	padding: 2%;
	background: #0e0303;

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 760px;
		opacity: 0.3;
	}

	.contains-bad-word {
		color: red;
	}

	> .header {
		text-align: center;
		margin-bottom: 20px;
	}

	.grid h4 {
		margin-bottom: 5px;
	}

	.grid > div {
		text-align: center;
	}

	.sliderrow {
		.ui.header {
			min-height: 80px;
		}
		margin-top: 20px;
	}

	.gamename {
		h4 small {
			margin-left: 8px;
		}

		input {
			width: 80%;
		}
	}

	.private {
		.checkbox {
			width: 55px;
			margin: 0 auto;
			display: block;
		}
	}

	.ui.dropdown {
		box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
		padding: 8px 7px 9px 8px;
		border-radius: 0.28571429rem;
	}

	.rebalance69p {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}

	.checkbox-container {
		width: 104%;
		margin-left: -6px;
		position: relative;
		top: 30px;
		display: flex;
		justify-content: space-between;

		input {
			cursor: pointer;
			width: 18px;
			height: 18px;
		}
	}
}
