#main .moderation {
	color: $fascistteam;
	background: #090000;
	.player-input {
		display: flex;
		justify-content: center;
	}
	h2 {
		text-align: center;
	}
	.ib {
		display: inline-block;
		width: 150px;
	}
	.player-list-toggle {
		position: absolute;
		color: lightblue;
		text-decoration: underline;
		right: 80px;
		top: 70px;
		cursor: pointer;
	}
	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 94%;
		opacity: 0.3;
		top: 70px;
	}
	ul {
		list-style-type: none;
		li label {
			cursor: pointer;
		}
	}
	button {
		color: black;
		padding: 10px;
	}
	> div {
		display: flex;
		.modlog {
			max-width: 60%;
			width: 100%;
			> div {
				max-height: 470px;
				overflow-y: scroll;
			}
		}
		.modplayerlist {
			ul {
				padding: 0 0 0 10px;
				max-height: 370px;
				overflow-y: scroll;
			}
		}
		> div {
			padding: 0 5px;
		}
		h3 {
			text-align: center;
		}
	}
	.multi {
		color: yellow;
	}
	.istor {
		color: red;
	}
	table {
		font-size: 12px;

		td {
			padding: 2px;
		}

		tr {
			background: lightyellow;
		}

		thead tr th {
			cursor: pointer;
		}

		+ button {
			color: #fff;
		}
	}
	textarea {
		width: 100%;
	}
	.ip {
		color: orange;
	}
	.broadcast {
		cursor: pointer;
		position: absolute;
		left: 5%;
		top: 70px;
		text-decoration: underline;
	}
	.ipban-button {
		width: 100%;
		background: darkred;
		color: white;
		margin: 2px 0;
	}
	.cardback-button {
		width: 100%;
		background: lightblue;
		margin: 2px 0;
	}
	.timeout-button {
		width: 100%;
		background: lightgreen !important;
		margin: 2px 0;
	}
	.tier3 {
		background: orange;
		margin: 2px 3px 2px 0;
		padding: 2px;
		width: 74px;
		height: 40px;
		vertical-align: text-bottom;
	}
}

.broadcastmodal {
	display: none !important;
	input {
		width: 600px;
	}

	label {
		color: #fff;
		margin: 5px;
		cursor: pointer;
	}

	.stickycheck {
		margin-top: 5px !important;
		display: inline-block;
		width: inherit;
		cursor: pointer;
	}
}

.horizontal.divider {
	color: white;
}

.toggle-containers {
	text-align: center;
}
