#profile {
	border: 0;
	border-radius: 0;
	margin-top: 0;
	background-color: #0b0000;
	padding: 20px;
	color: #eee;

	.profile-picture {
		width: 70px;
		height: 95px;
		position: absolute;
		left: 318px;
		top: 5px;
	}

	.ui.menu {
		border-radius: 0.28571429rem 0.28571429rem 0em 0em !important;
		border: 1px solid #d4d4d5 !important;
	}

	.column-name {
		display: flex;
		align-items: flex-start;

		h2 {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}

	.not-found {
		position: relative;
		top: 150px;
	}

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 760px;
		opacity: 0.3;
	}

	.recent-games-table + table tbody tr {
		cursor: pointer;
	}

	.edit.icon {
		cursor: pointer;
		font-size: 24px;
	}

	textarea {
		width: 100%;
		flex-grow: 1;
		background: #fff;
		resize: none;
		color: #333;
		min-height: 60px;
		margin-bottom: 10px;
	}

	.bio + p {
		margin-bottom: 10px;
	}
}
