.playerlistinfo {
	background-color: #111 !important;
	padding: 20px;
}

#game-container .section-right {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	.playerlist {
		padding-bottom: 10px;
		.userlist-stats-container {
			font-size: 12px;
			color: #bdbdbd;
			margin-right: 3px;
			width: 40%;
			white-space: nowrap;
			overflow-x: hidden;
			display: flex;
			justify-content: flex-end;
		}
		.playerlist-header {
			padding: 5px 0 3px;
			background: #000;
			display: flex;
			justify-content: space-between;
			color: $darkfascistteam;
			.mod-button,
			.report-button {
				cursor: pointer;
			}
			.mod-button {
				color: red !important;
				font-size: 24px;
			}
			.report-button {
				color: yellow !important;
				font-size: 20px;

				&.active {
					box-shadow: 0 0 4px 4px #fbbd08;
				}
			}
			.all {
				background: url('../favicon-16x16.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
				display: inline-block;
				border-radius: 50%;
				box-shadow: 0 0 4px 3px yellow;
				cursor: pointer;
			}
			.rainbow {
				background: url('../images/rainbow.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
				display: inline-block;
				border-radius: 50%;
				box-shadow: 0 0 4px 3px yellow;
				cursor: pointer;
			}
			.header-name-container,
			.header-name-container h3 {
				display: inline;
			}
		}
		.circle.icon {
			margin-left: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		.divider {
			margin: 0;
		}
		i {
			// margin-top: -5px;
		}
		.playerlist-body {
			height: 250px;
			overflow-y: auto;
			padding-left: 5px;

			.fav {
				background: url('../favicon-16x16.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
			}
			.rainbow {
				background: url('../images/rainbow.png') no-repeat;
				width: 16px;
				height: 16px;
				vertical-align: text-bottom;
			}
		}
		.ui.header {
			padding-left: 5px;
			margin-bottom: 0;
		}
		.user-container {
			display: flex;
			justify-content: space-between;
			&.hover {
				background: #2f2f2f;
			}
			.userlist-username {
				width: 60%;
				white-space: nowrap;
				overflow-x: hidden;
				color: #bfbfbf;
				> span:hover {
					color: #608cb3 !important;
					cursor: pointer;
				}
			}
			.unclickable:hover {
				cursor: not-allowed;
			}
			.status.icon {
				margin-left: 5px;
				cursor: pointer;
			}
		}
	}
	.right-sidebar-divider {
		margin: 0;
	}
	.generalchat {
		.discord-icon {
			float: right;
			padding: 4px;
			cursor: pointer;
			&.active {
				background: #555;
			}
		}
		.generalchat-header {
			h3 {
				float: left;
				margin: 0;
			}
			i {
				float: right;
				cursor: pointer;
			}
			> div {
				padding: 2px 5px 0;
			}
		}

		.inputbar {
			display: flex;
			> div {
				flex-grow: 1;
			}
			i {
				width: 20px;
			}
		}
		.ui.input {
			margin-right: 4px;
			input {
				padding: 2px;
			}
			button {
				padding: 2px;
			}
			+ i {
				cursor: pointer;
			}
		}
		.chats {
			height: 252px;
			padding-left: 5px;
			position: relative;
			> .ui.list {
				overflow-y: auto;
				position: absolute;
				bottom: 0;
				max-height: 254px;
				width: 99%;
				.chat-user--broadcast {
					color: lightsalmon;
				}
				.broadcast-chat {
					color: lightskyblue;
				}
				.item {
					padding: 0;
					a.genchat-user:hover {
						text-decoration: underline;
					}

					a.shio-link {
						color: #f4f439 !important;
						text-decoration: underline !important;
					}
				}
				.chat-user {
					color: #888;
				}
				.admin {
					color: red;
				}
				span {
					word-wrap: break-word;
				}
			}
			.sticky {
				position: absolute;
				background: darkorange;
				top: -2px;
				left: 0;
				color: white;
				padding: 3px;
				width: 100%;
				z-index: 1;
				display: flex;
				> span {
					flex-grow: 1;
					> span {
						font-style: italic;
					}
				}

				i {
					color: white !important;
					cursor: pointer;
					margin: 0 3px;
				}
			}
		}
		.chats.discord {
			height: 276px;

			.genchat-container {
				max-height: 276px;
			}
		}
	}
}

#main .ingame + .three.wide.section-right {
	max-width: 235px;
	min-width: initial;
}
