.settings {
	padding: 2%;
	background: #100000;

	> .ui.grid {
		max-height: 470px;
		overflow-y: scroll;
	}
	.content > button {
		position: absolute;
		left: 50px;
		top: 80px;
		color: #fff;
		padding: 8px;
	}

	.profile-search {
		position: absolute;
		top: 80px;
		left: 490px;
		display: flex;
		flex-direction: row;

		input {
			padding: 3px;
			width: 160px;
		}

		button {
			padding: 8px;
		}
	}

	.popups {
		text-align: center !important;

		button {
			margin-top: 20px;
			color: #fff;
		}
	}

	.remove.icon {
		cursor: pointer;
		position: absolute;
		font-size: 30px;
		left: 94%;
		opacity: 0.3;
	}

	.font-container {
		input:active ~ label,
		input:focus ~ label {
			color: $darkfascistteam;
		}
		label {
			color: $darkfascistteam;
			line-height: 1.3;

			&:hover {
				color: $darkfascistteam;
				cursor: pointer;
			}

			&:before,
			&:after {
				top: 6px !important;
			}
		}

		h4 {
			text-align: center;
			display: block;
			width: 100%;
			font-size: 18px;
		}

		.comfortaa {
			font-family: 'Comfortaa', Lato, sans-serif;
		}

		.lato {
			font-family: Lato, sans-serif;
		}

		.germaniaone {
			font-family: 'Germania One', Lato, sans-serif;
		}

		.robotoslab {
			font-family: 'Roboto Slab', Lato, sans-serif;
		}
	}

	.cardback-container {
		text-align: center;

		> .ui.grid {
			width: 100%;
			margin: 0;
		}

		.cardbacks-container {
			padding-bottom: 0;
			justify-content: space-around;
			img {
				width: 70px;
				height: 95px;
			}
		}

		.current-cardback {
			width: 70px;
			height: 95px;
			background: url('../images/tweed.png');
		}
		.dropzone {
			width: 70px;
			height: 95px;
			border-width: 2px;
			border-color: rgb(102, 102, 102);
			border-style: dashed;
			border-radius: 5px;
			color: #ddd;
			cursor: pointer;
			font-size: 12px;
			line-height: 1;
		}

		.cardback-message-container {
			color: yellow;
			padding-bottom: 0;
		}

		.preview-container {
			button {
				position: relative;
				color: #ddd;
				top: -60px;
				left: 10px;
			}

			a {
				position: relative;
				top: -10px;
				left: -48px;
			}
		}
	}

	.ui.header {
		text-align: center;
	}

	.eight.wide.column {
		text-align: center;
	}
}

.cardbackinfo {
	strong {
		color: red;
	}
}
