$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #c36563;
$hitlerteam: #be0804;
$werewolfteam: #dc6969;
$villageteam: #4b6a90;
$tannerteam: #dcb469;
$fascistteam: #e36248;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;
$textfont: 'Comfortaa', Lato, sans-serif;
$headerfont: 'Cuprum', Lato, sans-serif;
@import 'semantic.scss';
@import 'creategame.scss';
@import 'leftsidebar.scss';
@import 'game.scss';
@import 'players.scss';
@import 'settings.scss';
@import 'changelog.scss';
@import 'tracks.scss';
@import 'rcslider.scss';
@import 'rightsidebar.scss';
@import 'profile.scss';
@import 'replay.scss';
@import 'moderation.scss';
@import 'game-text.scss';
@import 'reports.scss';
#game-container > .ui.grid,
body {
	font-family: $textfont;
}
#main {
	min-width: 1253px;
	margin-left: auto;
	margin-right: auto;
	max-width: inherit !important;
	.ui.header {
		font-family: $headerfont;
	}
	.hoz-gradient {
		background: #000000;
		background: -moz-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
		background: -webkit-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
		background: linear-gradient(to right, #000000 0%, #100000 50%, #000000 100%);
	}
	.notes-container {
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		padding: 0;
		z-index: 110;
		position: absolute;
		background: lightyellow;
		display: flex;
		flex-direction: column;
		.drag-boundry {
			display: none;
			position: absolute;
			&.top {
				cursor: n-resize;
				height: 5px;
				top: 0;
				left: 15px;
				background: red;
			}
		}
		.notes-header {
			display: flex;
			justify-content: space-between;
			margin: 0;
			font-size: 20px;
			padding: 5px 5px 0 10px;
			color: white;
			background: $darkfascistteam;
			font-family: $headerfont;
			position: relative;
			cursor: move;
			i {
				cursor: pointer;
				color: white !important;
				font-size: 24px;
			}
			p {
				margin: 0;
			}
		}
		textarea {
			width: 100%;
			flex-grow: 1;
			background: lightyellow;
			resize: none;
		}
	}
	.section-main {
		background: #140202;
	}
	.defaultmid {
		.callout {
			font-family: $headerfont;
			font-size: 34px;
			text-align: center;
			margin-top: 40px;
			position: absolute;
			width: 100%;
			color: #1c1515;
			font-weight: bold;
			text-shadow: 1px 1px 0px #713d3d;
		}
		.poll {
			position: absolute;
			left: 600px;
			width: 190px;
			top: 330px;
			text-align: center;
			> a {
				color: yellow;
				font-weight: bold;
				font-style: italic;
				text-decoration: underline;
				font-size: 12px;
			}
		}
		background: radial-gradient(ellipse at center, #000 0%, rgb(24, 0, 0) 100%) #e4e4e4;
		.patch-alert {
			cursor: pointer;
			z-index: 2;
			position: absolute;
			top: 140px;
			left: 200px;
			height: 397px;
			width: 397px;
			border: 17px solid #001f3f;
			border-radius: 50%;
			animation: pulse 1s infinite;
			animation-direction: alternate;
			@keyframes pulse {
				0% {
					border-color: whitesmoke;
				}
				100% {
					border-color: gold;
				}
			}
		}
		img {
			position: absolute;
			left: 50%;
			margin-left: -200px;
			top: 140px;
			opacity: 0.2;
		}
		p {
			font-family: $headerfont;
			color: #bbb;
			font-size: 13px;
			a {
				color: lightblue;
				cursor: pointer;
			}
			a:first-child {
				color: yellow;
			}
			a:last-child {
				color: #d86363;
			}
		}
	}
	.section-main > section {
		border-top: none;
		margin: 0;
	}
	.leftsidebar,
	.generalchat,
	.section-right {
		background: #140202;
	}
	.section-left {
		width: 240px !important;
	}
	.section-main {
		width: 800px !important;
	}
	.section-main.ingame {
		width: 100% !important;
	}
	.section-right {
		flex-grow: 1;
		min-width: 241px;
	}
	.playerlist {
		background: #140202;
	}
	.generalchat .inputbar input,
	#gameChatInput {
		background: #686868;
	}
	.remove.icon {
		color: #ccc;
	}
	.genchat-container .chat-user + span,
	#game-container .ui.menu .loggedin,
	.playerlist-header > div > div > span,
	#game-container .ui.menu .item.right a:hover,
	.playerlist-body > div > span,
	.settings .sub.header,
	.games-container > div > div > span,
	.gameinformation-container > span,
	.seat-container .username,
	.chats .chat-user + span,
	.creategame .pickroles .column > span,
	.clearroles {
		color: #bfbfbf;
	}
	.table-container .ui.fitted.toggle.checkbox.truncate-game label,
	.table-container .ui.fitted.toggle.checkbox.showclaims label {
		color: #bfbfbf !important;
	}
	.game > .ui.grid .chat-container .gamechat .chats .chat-player {
		color: #ddd;
	}
	.game > .ui.grid .chat-container .gamechat .chats,
	.game-chat {
		background: #0c0202;
		flex-grow: 1;
	}
	.game > .ui.grid .chat-container .gamechat .inputbar .expando-container .hotkey-container {
		background: #7c7c7c;
	}
	.gamechat .ui.pointing.menu {
		background: #160a0a;
		overflow: visible;
		.item {
			color: #bfbfbf;
		}
	}
	.selectdefaults .info-popup,
	.timeofgame .ui.dropdown {
		background-color: #fff !important;
	}
	.ui.toggle.checkbox ~ input .box:before,
	.ui.toggle.checkbox input ~ label:before {
		background: #444;
	}
	.ui.pointing.menu .item:after {
		border-bottom: 1px solid #111;
		border-right: 1px solid #111;
	}
	i.icon {
		color: $darkfascistteam;
	}
	a:not(.button) {
		color: $darkliberalteam;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

.ui.header {
	color: $darkfascistteam;
}

.ui.primary.buttons .button:hover,
.ui.primary.button:hover,
.ui.primary.buttons .button:focus,
.ui.primary.button:focus,
.ui.primary.buttons .button:active,
.ui.primary.button:active {
	background-color: $lred;
}

.ui.primary.button,
.ui.primary.buttons .button {
	background-color: $darkfascistteam;
}

.ui.disabled.button {
	background: $lightfascistteam;
}

.ui.button {
	background: $darkfascistteam;
}

body {
	background-image: url('../images/footer_lodyas.png');
	margin: 0 1%;
	min-width: 1127px;
}

.app-hidden {
	display: none !important;
}

.app-visibility-hidden {
	visibility: hidden !important;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

#game-container .ui.menu {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0;
	border: 0;
	box-shadow: none;
	overflow: hidden;
	> img {
		margin-left: 10px;
		margin-top: 12px;
		width: 30px;
		height: 30px;
	}
	> p {
		line-height: 1;
		margin: 3px 0 0 10px;
		font-size: 42px;
		font-family: $headerfont;
		a {
			color: $darkfascistteam;
		}
	}
	div {
		color: #fff;
	}
	.item.right {
		padding: 3px 10px;
		a:hover {
			color: #000;
			text-decoration: underline;
		}
	}
	.loggedin {
		color: #000;
		display: inline-block;
		vertical-align: middle;
		.playername {
			font-weight: bold;
			color: #16ab39;
		}
	}
	i {
		cursor: pointer;
	}
	i.disabled {
		cursor: not-allowed;
	}
	.ui.button:hover,
	.ui.button:active {
		color: #fff;
		background: $lred;
	}
}

#game-container .section-main {
	padding-left: 0;
	padding-right: 0;
}

.section-left,
.section-right,
.section-main {
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
	background: #fff;
}

.section-main > section {
	min-height: 556px;
	border-top: 1px solid #eee;
}

.defaultmid {
	background: #fdfdfd;
	display: flex;
	flex-direction: column-reverse;

	p {
		display: flex;
		justify-content: center;
	}
}

#game-container {
	.section-main {
		padding-bottom: 0;
	}
	> .ui.grid {
		border-top: 1px solid #ddd;
	}
}

.changelog {
	max-height: 554px;
	overflow-y: scroll;
}

.section-main > .menu {
	margin: -0.5rem;
}

.header-container {
	text-align: center;
	height: 400px;
	background-image: url('../images/1127X400.jpeg');
	margin-top: 45px;
}

#general-info,
#top-menu {
	background: #eee;
}

.signin-modal,
.signup-modal {
	margin-left: -125px !important;
}

.signinnag {
	margin-left: -237px;
}

@for $i from 1 through 5 {
	.experienced#{$i} {
		color: rgb(19,  (222 - ($i * 20)), 19) !important;
	}
}

@for $i from 1 through 10 {
	.onfire#{$i} {
		color: rgb(183,  (10 - $i) * 15, 167) !important;
	}
}

.moderatorcolor {
	color: #0f43fc !important;
}

.editorcolor {
	color: #05bba0 !important;
}

.admin {
	color: red !important;
}

.contributer {
	color: orange !important;
}

.cbell {
	color: #ff1a75 !important;
}

.max {
	color: #b7ae0b !important;
}

.dfinn {
	color: #00ffd8 !important;
}

.faaiz {
	color: #c7c1ff !important;
}

#confetti {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.balloon-container {
	position: absolute;
	left: 0;
	bottom: -100%;
	transition: all 12s;

	&.active {
		bottom: 140%;
	}
}

.balloon {
	display: inline-block;
	width: 120px;
	height: 145px;
	background: hsl(215, 50%, 65%);
	border-radius: 80%;
	position: relative;
	box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
	margin: 20px 55px 20px 30px;
	transition: transform 0.5s ease;
	z-index: 99;
	animation: balloons 4s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes balloons {
	0%,
	100% {
		transform: translateY(0) rotate(-4deg);
	}
	50% {
		transform: translateY(-25px) rotate(4deg);
	}
}

.balloon:before {
	content: '▲';
	font-size: 20px;
	color: hsl(215, 30%, 50%);
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -12px;
	z-index: -100;
}

.balloon:after {
	display: inline-block;
	top: 153px;
	position: absolute;
	height: 250px;
	width: 2px;
	left: 60px;
	margin: 0 auto;
	content: '';
	background: #aaa;
}

.balloon + .balloon {
	background: hsl(245, 40%, 65%);
	animation-duration: 3.5s;
}
.balloon + .balloon:before {
	color: hsl(245, 40%, 65%);
}

.balloon + .balloon + .balloon {
	background: hsl(139, 50%, 60%);
	animation-duration: 3s;
}
.balloon + .balloon + .balloon:before {
	color: hsl(139, 30%, 50%);
}

.balloon + .balloon + .balloon + .balloon {
	background: hsl(59, 50%, 58%);
	animation-duration: 4.5s;
}
.balloon + .balloon + .balloon + .balloon:before {
	color: hsl(59, 30%, 52%);
}

.balloon + .balloon + .balloon + .balloon + .balloon {
	background: hsl(23, 55%, 57%);
	animation-duration: 5s;
}
.balloon + .balloon + .balloon + .balloon + .balloon:before {
	color: hsl(23, 44%, 46%);
}

.tou {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin: 10px 0 0;
}

.moderator-name {
	color: $lightfascistteam !important;
}

.editor-name {
	color: $darkfascistteam !important;
}

.admin-name {
	color: $hitlerteam !important;
}

.modal-warning {
	color: coral;
	padding: 5px 20px;
	font-size: 16px;
}

#main .thirteen.wide.section-main.ingame {
	flex-grow: 1;
	width: initial !important;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #717171;
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: #191919;
}

::-webkit-scrollbar-thumb:active {
	background: #c4c4c4;
}

::-webkit-scrollbar-track {
	background: #bfbfbf;
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
	background: #666666;
}

::-webkit-scrollbar-track:active {
	background: #a4a4a4;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
