$lred: #e36248;
$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #c36563;
$hitlerteam: #be0804;
$fascistteam: #e36248;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;

body {
	background-image: url('../images/footer_lodyas.png');
	overflow-x: auto;
	max-width: 1127px;
	margin: 0 auto;
	font-family: 'Comfortaa', serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.ui.header,
.ui.button,
.ui.menu {
	font-family: 'Comfortaa', Lato, sans-serif;
}

html {
	height: auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

#header-container {
	height: 460px;
	width: 100%;
	margin: 55px auto 0;
	background: no-repeat top center url('../images/banner-new.png') #141210;

	.online-count {
		padding: 5px;
		background: #6f3939;
		position: absolute;
		top: 10px;
		right: 20px;
		color: #ddd;
		font-size: 18px;

		i {
			color: lightblue;
		}

		span {
			color: #85d42a;
		}
	}

	+ .ui.segment {
		border: none;
	}
}

.ui.buttons * {
	background: #608cb3;

	&:hover {
		background: #608cb3;
	}
}

a.ui.button {
	background: #e36248;
}

p {
	font-size: 16px;
}

span.emphasis {
	font-weight: 700;
}

#top-menu {
	background: #000000;
	background: -moz-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
	background: -webkit-linear-gradient(left, #000000 0%, #100000 50%, #000000 100%);
	background: linear-gradient(to right, #000000 0%, #100000 50%, #000000 100%);

	.left.menu .button {
		color: #fff;

		&:hover {
			background: #e36248;
		}
	}

	.ui.button {
		color: #fff;
	}
}

@media only screen and (min-width: 1200px) {
	#top-menu {
		width: 1127px;
		margin-left: -563px !important;
		left: 50%;
	}
}

@media only screen and (max-width: 617px) {
	#top-menu > a {
		padding-left: 2px;
		padding-right: 2px;
	}
}

@media only screen and (max-width: 514px) {
	#top-menu > a {
		display: none;
	}
}

.ui.grid.mainpage {
	background: #030000;
	color: #ddd;
	padding: 10px;

	h2 {
		color: #ddd;
		font-size: 30px;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
	}

	> div {
		border: 1px solid #111;
	}
}

#general-info {
	border: none;
	.news {
		padding-top: 10px;
		background: #d9c091;
		border-radius: 5px;
		color: #222;
	}

	img {
		margin-top: 40px;
	}
}

.signin-modal,
.signup-modal {
	margin-left: -125px !important;
	left: 38% !important;
}

.ui.container.rules-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #030000;
	color: #ccc;

	.understated {
		font-style: italic;
	}

	.emphasis {
		font-weight: 700;
		color: #fff;
	}

	h1,
	h4 {
		margin-bottom: 10px;
		color: #eee;
		text-decoration: underline;
	}

	h2 {
		margin: 20px 0 !important;
		color: #eee;
		text-decoration: underline;

		& ~ p {
			font-size: 18px;
		}
	}

	.aside {
		color: #e85019;
	}

	td {
		text-align: center;
		padding: 5px;
		border: 1px solid #555;
	}

	li {
		font-size: 18px;
	}
}

.ui.container.howtoplay-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #030000;
	color: #eee;

	img {
		max-width: 90%;
		display: block;
		box-shadow: 0px 3px 4px 1px #333;
		margin: 0 auto 10px auto;
	}

	h1 {
		margin-bottom: 10px;
		color: #eee;
	}

	h2 {
		margin: 20px 0 !important;
		color: #eee;
	}

	p {
		font-size: 14px;
		text-align: center;
	}
}

.role-container {
	margin-bottom: 20px;

	h3 {
		margin: 0 auto !important;
	}

	img {
		float: left;
		margin: 0 30px 30px 0;
	}
}

.role-container:nth-of-type(odd) img {
	float: right;
	margin: 0 0 30px 30px;
}

.about-container {
	margin: 50px 0 0 0;
	padding: 10px 0;
	background: #030000;
	color: #eee;

	h1,
	h2,
	h3,
	h4 {
		color: #eee !important;
	}

	h1 {
		margin-bottom: 60px !important;
	}
}

.player-profiles-container {
	margin: 50px 0 0 0;
	padding: 30px 0;
	background: #030000;
	color: #eee;

	h1,
	h2 {
		color: $darkfascistteam !important;
	}

	h3,
	h4 {
		color: $fascistteam !important;
	}
}

.ct-label {
	fill: #fff;
	color: #fff;
	font-size: 20px;
}

.ct-series-b .ct-slice-pie {
	fill: $darkliberalteam;
}

.ct-series-a .ct-slice-pie {
	fill: $fascistteam;
}

#chart-completed-games .ct-label.ct-horizontal {
	display: none;
}

.chart {
	text-align: center;
}

.ct-chart-line {
	overflow: visible !important;
}

.modal-warning {
	color: coral;
	padding: 5px 20px;
	font-size: 16px;
}

.tou {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin: 10px 0 0;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #717171;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #191919;
}
::-webkit-scrollbar-thumb:active {
	background: #c4c4c4;
}
::-webkit-scrollbar-track {
	background: #bfbfbf;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #a4a4a4;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
